.home-cover {
  background: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65) ), url("/static/home.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;

  display: flex;
  justify-content: center;
  align-content: center;

  .home-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    color: $secondary-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

#who {
  background-color: rgb($primary-color, 0.11);
  text-align: center;
  padding: 3rem 0;

  .gallery {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: 2.5rem auto 2rem auto;
    border: $primary-color 0.25rem solid;
    padding: 0.25rem 0.3rem 0.25rem 0.5rem;

    img {
      width: 33%;
      padding: 0.5rem
    }
  }
}


#join {
  text-align: center;
  padding: 3rem 0;

  .join-boxes {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 3rem auto;
    align-items: center;
  }

  .join-box {
    width: 50%;
    border: $primary-color 0.25rem solid;
    border-radius: 0.6rem;
    color: $secondary-color;
    margin: 0 2rem;

    .join-box-content {
      width: 80%;
      margin: 3rem auto;
    }

    .box-header {
      font-weight: 600;
      font-size: 2.5rem;
      margin: 1rem 0;
    }

    .box-subtext {
      font-weight: 400;
      line-height: 1.5;
      font-size: 1.05rem;
      margin: 1rem 0;
    }


    .yale-btn {
      background: $primary-color;
      color: $secondary-color;
    }

    .haven-btn {
      background: $secondary-color;
      color: $primary-color;
    }
  }

  .yale-box {
    background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url("/static/yale.png");
  }

  .haven-box {
    background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url("/static/new-haven.jpeg") center;
  }
}


@media screen and (max-width: $lg-width) {
  .home-cover {
    .home-header {
      font-size: 3rem;
    }
  }


  #join {
    .join-boxes {
      flex-direction: column;

      .yale-box {
        margin-bottom: 2rem;
      }
    }
  }
}

@media screen and (max-width: $m-width) {
  #who {
    .gallery {
      width: 90%;
    }
  }
  #join {
    .join-boxes {
      margin-bottom: 1rem;
      .join-box {
       .box-header {
          font-size: 2rem;
       }
      }
    }
  }
}

@media screen and (max-width: $sm-width) {
  #who {
    padding-bottom: 2rem;
   .gallery {
     flex-direction: column;
     img {
       width: 100%;
     }
   }
  }
  #join {
    .join-boxes {
      width: 100%;
      margin: 2rem auto;
    }
    .join-box {
      width: 90%;
      margin: 0 auto;
    .box-header {
      font-size: 2rem;
    }
  }
  }
}
