.team {
  text-align: center;
  margin: 4rem 0;

  .members {
    margin: 4rem 0;

    .top-two {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
    }

    .bottom-three {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3rem;
      margin-top: 6rem;
    }

    .team-btn {
      background: $primary-color;
      color: $secondary-color;
      margin: 2rem 0;
    }
  }
}

@media screen and (max-width: $m-width) {
  .team {
    .members {
      .top-two {
        flex-direction: column;
      }
      .bottom-three {
        flex-direction: column;
      }
    }
  }
}

