.container {
  max-width: $container-width;
  margin: auto;
  padding: 0 2rem;
}

.header {
  color: $primary-color;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem 0;
}

.description {
  color: $text-color;
  max-width: 800px;
  margin: auto;
}
