$font: Inter,Inter UI,Inter-UI,SF Pro Display,SF UI Text,Helvetica Neue,Helvetica,Arial,sans-serif;

$primary-color: #0F4D92;
$secondary-color: #FFFFFF;
$text-color: #000;

$container-width: 1200px;

$xl-width: 1100px;
$lg-width: 1024px;
$m-width: 768px;
$sm-width: 418px;
